[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg

package-name = plone.formwidget.geolocation
package-extras = [test]

parts +=
    code-analysis
    i18ndude
    node
    omelette

[code-analysis]
flake8-ignore = E501
directory = plone

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
# use latest version of coverage
coverage =
setuptools = 41.2.0
zc.buildout = 2.13.2
configparser = 3.8.1
