[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg

package-name = plone.formwidget.geolocation
package-extras = [test]

parts +=
    omelette

[code-analysis]
directory = plone

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
# use latest version of coverage
coverage =
setuptools = 41.2.0
zc.buildout = 2.13.2
configparser = 3.8.1
